/* Base styles */
body { min-width:320px; font-family:'PT Sans', sans-serif; }
h1, h2, h3, h4, h5 { color:black; }

/* Header */
header { border-top:20px solid #262626; text-align:center; position:relative; }
#main-menu { padding:15px 0; background-color:white; font-family:'Roboto Condensed', sans-serif; }
main > div { margin-top:30px; }
#logo { max-width:125px; max-height:125px; }
nav { padding-top:20px; }
nav li { font-size:18px; font-weight:bold; position:relative; text-transform:uppercase; padding:0 20px; letter-spacing:1px; }
nav li a { color:#F7B044; }

/* Main content */
section { background:#F3F3F3; }
section a { color:#4e4d4d; }
section a:not(.button) { text-decoration:underline; }
section a:hover { color:#FFB647; }
article { padding-bottom:20px; }
article .row { padding:10px 0; }
article .row:last-of-type { padding-bottom:40px; }
article img { width:100%; display:block; margin:0 auto; }
body:not(#blog-post) article img { max-width:637px; }
article h2 + p { margin-top:0; }
#intro { text-align:center; font-size:18px; }
section hr { border-bottom-color:#dfdfdf; }
section h4 { margin:0; }
section p, section ul { color:#7a7a7a; }
body:not(#blog-post) figcaption { margin-top:10px; }
figcaption { color:#c98f38; }
.crossed-out { text-decoration:line-through; }
.video-container { position:relative; height:0; overflow:hidden; padding-bottom:56.25%; }
.video-container iframe { position:absolute; top:0; left:0; width:100%; height:100%; }

/* Footer */
footer { background:#222222; border-top:5px solid black; padding:15px 0 30px 0; }
footer svg { width:24px; height:24px; fill:white; }
footer svg:first-child { margin-right:10px; }
footer a { font-size:15px; color:#9E9E9E; }
footer svg, footer .row > div { vertical-align:bottom; }
footer .row { width:100%; display:table!important; }
footer .row > div { display:table-cell!important; }

/*****************************************/

/* Pages */
/* Homepage */
#homepage #main-menu { box-shadow:0px 3px 15px rgba(0,0,0,0.2); }
#purpose { background:white; }
#purpose * { max-width:1000px; margin-left:auto; margin-right:auto; }
#purpose > h2:before, #purpose > h2:after { content:'—'; padding:0 5px; }
#purpose p:last-of-type { margin-bottom:0; }
#purpose .button { margin-top:20px; }
#homepage article > h2 a { text-decoration:none; }
#homepage article p + .button { margin-top:14px; }
/* /Homepage */
#destinations article .large-9 { margin:0 auto; }
#destinations .wide { max-width:750px; padding-bottom:20px; }
#blog-post main { padding-bottom:20px; }
#blog-post article > .column { padding-left:0; padding-right:0; }
#homepage article img, #destinations article img  { border:10px solid white; box-shadow:0 4px 8px 0 rgba(0,0,0,0.1); }

/*****************************************/

/* Blog posts */
#post-footer > div { padding:0; }
.social-share span:last-of-type { vertical-align:top; }

/*****************************************/

/* Mailchimp form */
input { font-family:'PT Sans', sans-serif; }
#mc_embed_signup { text-align:center; }
#mc-embedded-subscribe { margin-left:10px; font-weight:bold; }
#mc_embed_signup form { padding:0!important; }
#mc_embed_signup .button { background-color:#FFB647!important; font-size:14px!important; width:auto!important; padding:8px; }
#mc_embed_signup input.email { max-width:250px; }
#mc_embed_signup_scroll label { color:white; font-weight:bold; padding-bottom:10px; display:block!important; }	

/* MailChimp form - desktop */
@media all and (min-width: 966px) {
	#blog-post #mc_embed_signup_scroll { text-align:center; }
}

/* MailChimp form and footer - large mobile */
@media all and (min-width:639px) and (max-width: 965px) {
	#blog-post article > .column { width:100%; display:block; }	
	#mc_embed_signup_scroll { text-align:center; }
}

/*****************************************/

/* When article img and text stack */
@media all and (max-width: 1023px) { 
	body article .row > div:nth-of-type(odd) { padding-bottom:20px; }
	article .row > div:nth-of-type(even) { max-width:670px; float:none!important; margin:0 auto; }
}

@media all and (max-width: 965px) { footer { padding:10px 0 20px 0; } }

/* Large mobile (bigger than iPhone 8 in landscape) to desktop  */
@media all and (min-width: 668px) {
	.hamburger-container { display:none; }
	nav li:not(:first-of-type):after { content:'•'; color:#CBCBCB; position:absolute; top:7px; left:-5px; }
	nav li a { border-bottom:4px solid transparent; }
	nav a:hover { border-color:#e6e6e6; }
	footer .row > div:last-child a { text-align:right; display:block; line-height:10px; } 
	/* Homepage only */
	#purpose { padding:30px; }
	#homepage header { background:url("/images/homepage/snowy-mountains-trees-banff-canada.jpg") no-repeat; background-position:center 70px; background-size:cover; padding:320px 0; } 
	#homepage #main-menu { position:absolute; top:0; left:0; width:100%; }
	#homepage h1, #homepage h1:after { position:absolute; left:0; font-family:'Satisfy', cursive; text-align:center; width:100%; font-size:65px; }
	#homepage a h1, #homepage h1:after { color:white; text-decoration:none; }
	#homepage h1 { top:410px; }
	#homepage h1:after { content:'—'; top:40px; }
}

@media all and (min-width:640px) { footer .row, footer .row > div { float:none!important; } }
@media all and (max-width:639px) { footer .row > div:nth-child(2) { padding:20px 10px; } }

/* Mobile */
@media all and (max-width: 667px) {
	#logo { max-width:100px; }
	div > nav, #homepage h1, #homepage h2:before, #homepage h2:after { display:none; }
	.hamburger-container { position:absolute; left:0; top:10px; width:75px; padding:15px 0; margin-top:10px; }
	.hamburger-container div { width:22px; height:4px; background-color:#333; margin:4px 0 4px 20px; transition:0.4s; }
	.hamburger-container div:first-of-type { margin-top:0; }	
	footer * { text-align:center; }

	/* Homepage only */
	#homepage #featured-img-mobile { background:url("/images/homepage/snowy-mountains-trees-banff-canada.jpg") no-repeat; background-position:center center; background-size:cover; min-height:180px; }
	#page-top { display:none; position:fixed; right:20px; top:73%; width:70px; height:70px; padding:10px; text-align:center; text-decoration:none; background-color:rgba(37,33,29, 0.6); color:white; font-weight:bold; border-radius:100%; box-shadow:0px 3px 15px rgba(0,0,0,0.2); }
	#purpose { padding:30px 15px; }
}

/* Social buttons and sibling div on portrait mobile */
@media all and (max-width: 480px) {
article { padding-bottom:10px; }
.social-share, .social-share + div { width:100%!important; text-align:center; }
.social-share { padding-bottom:20px; border-bottom:1px dashed #dfdfdf;  }
.social-share + div { margin-top:20px; }
}
