/* Base styles */
body { min-width:320px; }
body *:not(header) { font-family:'PT Sans', sans-serif; }
h1, h2, h3, h4, h5 { color:black; }

/* Header */
header { border-top:20px solid #262626; font-family:'Roboto Condensed', sans-serif; text-align:center; }
#main-menu { box-shadow: 0px 3px 15px rgba(0,0,0,0.3); padding:15px 0; background-color:white; }
main > div { margin-top:30px; }
#logo { max-width:125px; max-height:125px; }
nav { padding-top:20px; }
nav li { font-size:17px; font-weight:bold; position:relative; text-transform:uppercase; padding:0 20px; letter-spacing:1px; }
nav li a { color:#F7B044; }

/* Main content */
section { background:#F3F3F3; }
section a { color:#545454; }
section a:hover { color:#206e9b; }
section > h4 { background:white; padding:20px 0; }
section > h4:before, section > h4:after { content:'—'; }
article .row { padding:10px 0; }
article .row:last-of-type { padding-bottom:40px; }
article img { max-width:637px; width:100%; display:block; margin:0 auto; }
article h5 + p { margin-top:0; }
article p + .button { margin-top:5px; }
section hr { border-bottom-color:#dfdfdf; }
section h4 { margin:0; }
section p { color:#7a7a7a; }

/* Footer */
footer { font-size:13px; background:#222222; border-top:5px solid black; padding:30px 0; }
footer div > a { color:white; border-bottom:1px solid #AB7D38; }
footer p, footer a { color:#9E9E9E; margin:0; }

/* Homepage only */


/* When article img and text stack */
@media all and (max-width: 1023px) { 
	article .row > div:nth-of-type(odd) { padding-bottom:20px; }
	article .row > div:nth-of-type(even) { max-width:670px; float:none!important; margin:0 auto; }
}

/* Large mobile (bigger than iPhone 8 in landscape) to desktop  */
@media all and (min-width: 668px) {
	.hamburger-container { display:none; }
	nav li:not(:first-of-type):after { content:'•'; color:#CBCBCB; position:absolute; top:7px; left:-5px; }
	nav li a { border-bottom:4px solid transparent; }
	nav a:hover { border-color:#e6e6e6; }
	footer p { text-align:right; } 
	
	/* Homepage only */
	#homepage header { background:url("/images/snowy-mountains-trees-banff-canada.jpg") no-repeat; background-position:center 40px; background-size:cover; padding:320px 0; } 
	#homepage #main-menu { position:absolute; top:10px; left:0; width:100%; }
}

/* Mobile */
@media all and (max-width: 667px) {
	div > nav { display:none; }
	.hamburger-container { position:absolute; left:0; top:10px; width:75px; padding:15px 0; margin-top:10px; }
	.hamburger-container div { width:22px; height:4px; background-color:#333; margin:4px 0 4px 20px; transition:0.4s; }
	.hamburger-container div:first-of-type { margin-top:0; }	
	footer * { text-align:center; }
	footer div.column:first-of-type { padding-bottom:15px;}

	/* Homepage only */
	#homepage #featured-img-mobile { background:url("/images/snowy-mountains-trees-banff-canada.jpg") no-repeat; background-position:center center; background-size:cover; min-height:180px; }
}

