RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

Options +FollowSymLinks
RewriteEngine on

Redirect 301 /banff /holiday-guides/banff
Redirect 301 /whistler /holiday-guides/whistler
Redirect 301 /vancouver /holiday-guides/vancouver
Redirect 301 /calgary /holiday-guides/calgary
Redirect 301 /afternoon-tea /holiday-guides/afternoon-tea-london
Redirect 301 /carvoeiro /holiday-guides/carvoeiro
Redirect 301 /paris /holiday-guides/paris
Redirect 301 /cotswolds /holiday-guides/cotswolds
Redirect 301 /cornwall /holiday-guides/cornwall
Redirect 301 /las-vegas /holiday-guides/las-vegas
Redirect 301 /croatia /holiday-guides/croatia
Redirect 301 /new-forest /holiday-guides/new-forest
Redirect 301 /painshill-park /holiday-guides/painshill-park
Redirect 301 /york /holiday-guides/york

ErrorDocument 404 /page-not-found

<FilesMatch "\.(ico|jpg|png|js|css|html|php)$">
  Header set Cache-Control "max-age=86400, must-revalidate"
</FilesMatch>

# BEGIN GZIP
<ifmodule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</ifmodule>
# END GZIP

# Use HTTP Strict Transport Security to force client to use secure connections only
<ifmodule mod_headers.c>
  Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" env=HTTPS
</ifmodule>