$mainBrandColour: #f7b044;
$lighterBrandColour: #FFB647;
$darkestBrandColour: #c98f38;
$secondaryColour: #4e4d4d;
$defaultTextColour: #535252;
$fadedAccentColour: #dfdfdf;
$lighestTextColour: #f3ecec;
$lighestColour: #ffffff;
$darkestColour: #000000;